<!DOCTYPE html>
<html lang="en" phx-socket={live_socket_path(@conn)}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={Phoenix.Controller.get_csrf_token()} />
    <title>{assigns[:page_title] || "Pyre"}</title>
    
<!-- DaisyUI + Tailwind from CDN -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4">
    </script>
    <script defer src={asset_path(@conn, :js)}>
    </script>
  </head>
  <body>
    {@inner_content}
  </body>
</html>
